hl7_2_pdf/2_1/overdracht_acute_fase_bericht/schemas/coreschemas/infrastructureRoot.xsd

<!-- Tweaked om gebruikt te worden met de NICTIZEdOkt2005 --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mif="urn:hl7-org:v3/mif" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified"><xs:include schemaLocation="datatypes.xsd"/><xs:include schemaLocation="voc.xsd"/><xs:complexType xmlns="urn:hl7-org:v3" name="all.InfrastructureRoot.typeId"><xs:complexContent><xs:restriction base="II"><xs:attribute name="root" type="uid" fixed="2.16.840.1.113883.1.3" use="required"/><xs:attribute name="extension" type="st" use="required"/></xs:restriction></xs:complexContent></xs:complexType><xs:complexType xmlns="urn:hl7-org:v3" name="all.InfrastructureRoot.templateId"><xs:complexContent><xs:extension base="II"><xs:attribute name="unsorted" type="xs:boolean" default="false"/></xs:extension></xs:complexContent></xs:complexType><xs:group name="InfrastructureRootElements"><xs:sequence><xs:element xmlns="urn:hl7-org:v3" name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/><xs:element xmlns="urn:hl7-org:v3" name="typeId" type="all.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/><xs:element xmlns="urn:hl7-org:v3" name="templateId" type="all.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:group><xs:attributeGroup name="InfrastructureRootAttributes"><xs:attribute xmlns="urn:hl7-org:v3" name="nullFlavor" type="NullFlavor" use="optional"/></xs:attributeGroup></xs:schema>